<font color='red'> Week 1:
    
<font color='blue'> 
    hi!

In [2]:
import pandas as pd

In [3]:
##read_csv reads a csv format file. 
##index_col -> index का column.
"""df = read_csv('filename',index_col='col1')"""
df = pd.read_csv(r'C:\Users\Karthik Pyapali\Desktop\DS\1.MSIS\Q2\Python\ClassWork\GitHub\MSIS2607_Winter2020\week2material\students.csv',index_col=0)

In [4]:
type(df)
## type of df -> pandas.dataframe

pandas.core.frame.DataFrame

In [13]:
df.head()

            hw1   hw2 program
Name
Dorian     10.0  10.0    MSIS
Jeannine    6.0   7.0    MSIS
Iluminada   2.0   NaN     MBA
Luci        7.0   7.0    MSIS
Jenny       8.0   NaN     NaN

# Series

In [5]:
hw1 = df.hw1 ## Other way to do this is hw1 = df[hw1]
hw1

Name
Dorian       10.0
Jeannine      6.0
Iluminada     2.0
Luci          7.0
Jenny         8.0
Demetria      2.0
Michael       6.0
Garland       9.0
Shelby        1.0
Mercy         5.0
John          NaN
Name: hw1, dtype: float64

In [18]:
type(hw1)

pandas.core.series.Series

In [26]:
type(hw1.values)

numpy.ndarray

In [23]:
len(hw1)

11

In [25]:
hw1.index

Index(['Dorian', 'Jeannine', 'Iluminada', 'Luci', 'Jenny', 'Demetria',
       'Michael', 'Garland', 'Shelby', 'Mercy', 'John'],
      dtype='object', name='Name')

In [28]:
hw1.values

array([10.,  6.,  2.,  7.,  8.,  2.,  6.,  9.,  1.,  5., nan])

In [29]:
hw1.values[4]

8.0

In [31]:
hw1.describe()

count    10.000000
mean      5.600000
std       3.098387
min       1.000000
25%       2.750000
50%       6.000000
75%       7.750000
max      10.000000
Name: hw1, dtype: float64

In [33]:
hw1.mean()

5.6

In [35]:
hw1.max()

10.0

In [37]:
hw1.min()

1.0

In [40]:
hw1.iloc[4] ## -> iloc is integer location.

8.0

In [42]:
hw1.iloc[2:7]

Name
Iluminada    2.0
Luci         7.0
Jenny        8.0
Demetria     2.0
Michael      6.0
Name: hw1, dtype: float64

In [11]:
hw1[[-1]]

Name
John   NaN
Name: hw1, dtype: float64

In [21]:
hw1.index>='J'

array([False,  True, False,  True,  True, False,  True, False,  True,
        True,  True])